<%- include('./_header.ejs') %>

    <div class="tab">
        <button class="tablinks" onclick="openTabs(event, 'Random')" id="defaultOpen">Random Gifs</button>
        <button class="tablinks" onclick="openTabs(event, 'Saved')">Saved Gifs</button>
        <form action="/logout">
            <button class="tablinks" aligh="right">Log Out</button>
        </form>
    </div>

    <div id="Random" class="tabcontent">
        <div class="game-container">
            <div class="card-container">
                <div class="card">
                    <img href='<%=gif%>' src='<%=gif%>.gif'>
                </div>
            </div>
        </div>
        <form action="/" method="POST" id='save_form' class="center-stuff">
            <input type="hidden" id="gif" name="gif" value="<%=gif%>">
            <button type="button" id="new" class="btn btn-light" onClick="refreshPage()">New Gif</button>
            <button type="submit" id="save" class="btn btn-warning">Save Gif</button>
        </form>
    </div>

    <div id="Saved" class="tabcontent">
        <div class="save-container">
            <% gifs.forEach(function (item) { %>
                <div class="card-container">
                    <div class="card">
                        <div class="card">
                            <img class='saved' href='<%=item.gif%>' src='<%=item.gif%>'>
                            <form action= '/delete/<%=item._id%>' class="delete" method="POST">
                                <button class="btn btn-danger btn-sm">X</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <script>
        document.getElementById("defaultOpen").click();

        function refreshPage() {
            window.location.reload();
        }
        function openTabs(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
